
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    font-family: 'Inter', sans-serif;
}

body {
    margin: 0;
    padding: 32px;

}
.container_fluid {
    display: grid;
    grid-template-columns: minmax(0, 2fr) minmax(0,3fr);
}

.container_fluid > div img {
    display: block;
    width: 100%;
}